body {
    background-color: aliceblue;
    color:blue;
    text-align: justify;
    font-size: 30px;
    }
    h1{ 
        background-color: black;
        color:white
        text-aling: center; 
        font-size: 40px;
    }

    